* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
#hero {
    background: url(image/image1.jpg) fixed;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    box-shadow: inset 10px 10px 40px 40px  rgb(0,0,0,0.9);
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 90px;
    align-items: center;
    color: white;
}
ul {
    display: flex;
}
ul li {
    margin: 0 40px;
    list-style: none;
    font-size: 25px;
    font-weight: 800;
}
ul li a {
    text-decoration: none;
    color: white;
}
nav i {
    font-size: 20px;
}
.title1{
    margin-top: 370px;
    font-weight: bold;
    font-size: 30px;
    margin-left: 80px;
    color: white;
}
.container{
    background: white;
    margin: 10px 70px;
    padding: 30px 20px;
    border-radius: 40px 0 40px 0;
    display: flex;
}
.vertical-line {
  width: 5px;
  height: 70px;
  background: gray;
  margin: 0 90px;
}
.title2 p {
    margin: 0 10px;
    margin-bottom: 20px;
    text-align: center;
}
span {
    margin: 0 10px;
    font-weight: 700;
}
.btn-1 {
    padding: 20px 70px;
    border-radius: 0 20px 0 20px;
    background: dodgerblue;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
}
.btn-1:hover{
    background: red;
    transform: translateY(10px);
}
/* About */
#about,
#meteo {
    background: gainsboro;
    height: 85vh;
}
.content {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    width: 80%;
    margin: auto;
}
#about h1,
#service h1,
#contact h1,
#meteo h1 {
    color: dodgerblue;
    text-align: center;
    padding: 30px;
}
#about .card img {
    width: 400px;
    height: 400px;
    border-radius: 60px 0 60px 0;
}
#about .card p {
    text-align: center;
    margin: 10px 40px;
    font-weight: 800;
    font-size: 20px;
}
#about .card2 img{
    width: 800px;
    height: 400px;
    border-radius: 60px 0 60px 0;
}
/* Service */
#service {
    background: gainsboro;
    padding-bottom: 20px;
}
.container2 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
}
.button1{
    margin-left: 700px;
    padding: 30px 40px;
    padding: 20px 40px;
    border-radius: 20px 0 20px 0;
    border: 1px solid dodgerblue;
    color: white;
    font-weight: bold;
    background: dodgerblue;
    cursor: pointer;
    text-decoration: none;
}
.container2 img {
    width: 350px;
    height: 340px;
    border-radius: 20px 20px 0 0;
}
.card3 {
    background: white;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 30px;
    cursor: pointer;
    transition: all 0.8s ease;
}
.card3:hover {
    transform: translateY(-20px);
}
.card3 h3 {
    padding-left: 20px;
}
.card3 h2 {
    padding-left: 25px;
    margin: 15px 0;
}
.card3 p {
    padding-left: 25px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 800;
    color: dodgerblue;
}
/* meteo */
#meteo{
    background: gainsboro;
    padding: 0 100px;
    text-align: center;
}
.con2{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.card5{
    margin-left: 150px;
    background: white;
    padding: 90px 40px;
    border-radius: 20px 0 20px 0;
    cursor: pointer;
    transition: all 0.4s ease;
}
.card6{
    margin-left: 200px;
    margin-right: 80px;
    background: white;
    padding: 90px 40px;
    border-radius: 40px 0 40px 0;
    cursor: pointer;
    transition: all 0.4s ease;
}
.card5:hover,
.card6:hover{
    box-shadow: 10px 10px 10px rgb(0,0,0,0.9);
    border-radius: 0 40px 0 40px;
}
.card6 p {
    text-align: center;
    margin: 35px 0;
    font-size: 20px;
    font-weight: 700;
}
/* Contact */
#contact {
    background: gainsboro;
}
.p2 a{
    text-decoration: none;
    color: black;
}
.cont1 {
  display: flex;
  gap: 20px;
}

.card4 {
  background: #fff;
  padding: 80px;
  border-radius: 30px;
  flex: 1;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
}
.card4 input,
.card4 textarea {
  width: 80%;
  padding: 40px 80px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 20px 0 20px 0;
  display: block;
  font-size: 14px;
  outline: none;
}
.mp3 {
    margin: 80px 0;
}
.card4 textarea {
  min-height: 100px;
  resize: vertical;
}
.btn4 {
    padding: 20px 40px;
    border-radius: 20px 0 20px 0;
    border: 1px solid dodgerblue;
    color: white;
    font-weight: bold;
    background: dodgerblue;
    cursor: pointer;
}
.p1 {
    font-size: 30px;
    font-weight: bold;
}
.p2 {
    margin-top: 60px;
    font-size: 25px;
    font-weight: 900;
}
.ico {
    margin-top: 30px;
}
/* footer */
footer{
    background: darkblue;
    color: white;
    padding: 25px 0;
    text-align: center;
}
footer p {
    font-size: 20px;
    font-weight: bold;
}